  <!-- A B O U T -->
    <section class="slide" id="about">
      <div class="row intro">
        <div class="small-12 large-offset-1 large-10 large-offset-1 columns"
        data-0="opacity:1;"
        data-300="opacity:0;">
          <div class="small-12 columns">
            <p class="bigboy">
              hello, i&apos;m bryce bortree
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-10 medium-offset-1 large-offset-1 large-10 large-offset-1 columns">
          <p> 
            I'm a curious web developer with a love of clean designs and intuitive user design.  I am passionate about connecting users to the information that allows them to live better lives. In my past lives, I've been a reference desk librarian, a long time volunteer, and a bookseller. When not writing code, I'm probably writing or reading stories.
          </p>
          <p id="pullquote"
              data-0="opacity:.3;"
              data-250="opacity:1;">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
              I'm a web dev and I love what I do.
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
          <hr>
        </div>
      </div>
    </section>
