<div class="row">
  <p class="bigboy">
    about
  </p>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <p> 
      I'm a web developer with a passion for user-friendly designs and clean back-end work. I am passionate about responsive web design and connecting users with information that enriches their lives. I’m a bit of a data nerd.</p>

    <p>
      I've worked in bookstores, libraries, and in a halfway house in my past lives. I'm firmly a cat person. When not coding, you'll most likely find me reading or writing.
    </p>
    <p class="emphatic">
      I'm a web dev and I love what I do.
    </p>
  </div>
