<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="about">
      <p class="bigboy">about</p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <p> 
    I'm a web developer with a passion for connecting users with data that enriches their lives. I thrive on teams whose work includes time spent learning new technologies and directly helping users in an impactful and measurable way. I'm fond of asking questions and paired programming. I’m also a bit of a data nerd.</p>

  <p>
    I've worked in bookstores, libraries, and volunteered full time. When not coding, you'll most likely find me reading or <a href="/writing">writing</a> strange short stories.
  </p>

  <p class="emphatic">
    I'm a web developer, and I love what I do.
  </p>
</div>

<div class="row">
  <div class="center col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <img src="./assets/storybook.png" id="aboutpic" />
  </div>
</div>