<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="contact">
      <p class="bigboy">contact</p>
    </div>
  </div>
</div>

  <div class="row">
    <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
      <div class="medium-6 large-6 columns">
        <img src="./assets/bryce.jpg" id="aboutpic" />
      </div>
      <div class="medium-6 large-6 columns">
        <p class="center contact-love"
          data-0="margin-left: -800px;" 
          data-750="margin-left: 0px;">
          I'd love to chat! Feel free to connect by email, LinkedIn, or Github: </p>

        <div class="row contact-icons center">
          <a href="mailto:hi@brycebortree.com"><i class="contacticon fa fa-envelope-square fa-5x" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/brycebortree
         "><i class="fa fa-linkedin-square fa-5x contacticon" aria-hidden="true"></i></a>
          <a href="https://github.com/brytree"><i class="fa fa-github-square fa-5x contacticon" aria-hidden="true"></i></a>
      </div>
      </div>
    </div>
  </div>
</section>