<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="contact">
      <p class="bigboy">contact</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <p class="contact-love">
      Find me here: 
    </p>
    <div class="row contact-icons center">
      <a href="https://www.linkedin.com/in/brycebortree"
      target="_blank"><i class="fa fa-linkedin fa-5x contacticon" aria-hidden="true"></i></a>
      <a href="https://github.com/brytree" target="_blank"><i class="fa fa-github fa-5x contacticon" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <p class="contact-love">
        Or send me a message: 
      </p>
      <div class="row">
        <form action="https://formspree.io/brycebortree@gmail.com"
          method="POST">
          <input class="input" type="text" placeholder="Name" name="name">
          <input class="input" type="email" placeholder="Email" name="_replyto">
          <input class="inputMsg" type="text" placeholder="Message" name="message">
          <input class="inputButton center" type="submit" value="Send">
        </form>
      </div>
    </div>
  </div>

</section>