<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="contact">
      <p class="bigboy">contact</p>
    </div>
  </div>
</div>

<div class="row center">
  <img src="./assets/smilingbryce.jpg" id="aboutpic" />
</div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <p class="center contact-love">
        I'd love to chat! Find me here: </p>
      <div class="row contact-icons center">
        <a href="mailto:brycebortree@gmail.com"><i class="contacticon fa fa-envelope fa-5x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/brycebortree"
        target="_blank"><i class="fa fa-linkedin fa-5x contacticon" aria-hidden="true"></i></a>
        <a href="https://github.com/brytree" target="_blank"><i class="fa fa-github fa-5x contacticon" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>