<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="resume">
      <p class="bigboy">experience</p>
    </div>
  </div>
</div>



<div class="experience row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

      <div class="row">
        <div class="col-sm-9 columns">
          <p class="bold">DevOps Engineer - Software at IUNU LLC, 2016-present</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 ">
          <p> Create client facing React.js software integrating a Mongo database, HTML, CSS, and JavaScript.</p>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-9 columns">
          <p class="bold">Full stack web developer at General Assembly, 2016</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 ">
          <p> 12 week full stack web development programming immersive with 480 hours of collaborative classroom instruction, 50-70 hours per week of technical coding work, and 4 web applications. Proficient in Javascript, HTML, CSS, Ruby on Rails, the SEAN stack, and AngularJS.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9 columns">
          <p class="bold">Bookseller at the Elliott Bay Book Company, 2015-2016</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <p> Maintained upkeep of the store’s 150,000 title inventory by daily shelving, register, and collaborative information desk duties using excellent communication skills to meet customer requirements. A staff recommendation was a bestseller for six months, selling over 100 units and connecting with clients’ tastes against competitive new releases. 
            </ul>
          </p>
        </div>
      </div>


  </div>
</div>


<div class ="row resumebuttons">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="center">
      <a target="_blank" href="/assets/Bortree2016.pdf" class="btn btn-green"><i class="fa fa-eye" id="id-eye"></i> View Resume</a>
     <a target="_blank" href="/assets/BortreeWebDev.pdf" class="btn btn-green" download="BortreeWebDev.pdf"><i class="fa fa-download" id="id-download"></i> Download Resume</a>
    </div>
  </div>
</div>