<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="projects">
      <p class="bigboy">portfolio</p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5  col-lg-offset-1 project">
    <a href="/dirtymoonpress">
      <img src="./assets/dirtymoonpress.jpg" class="projimage"/> 
    </a>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 project">
    <a href="/writetime">
      <img src="./assets/Writetime.jpg" class="projimage"/> 
    </a>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 project">
    <a href="/behind">
      <img src="./assets/behindthe.jpg" class="projimage"/> 
    </a>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 project">
    <a href="/artr">
      <img src="./assets/artr.jpg" class="projimage"/> 
    </a>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 project">
    <a href="/sharkfile">
      <img src="./assets/sharkfile.jpg" class="projimage"/> 
    </a>
  </div>
</div>