<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="projects">
      <p class="bigboy">portfolio</p>
    </div>
  </div>
</div>

<!-- w r i t e t i m e  -->

<div class="row center" id="writetime">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="http://writeti-me.herokuapp.com/">
    <img src="./assets/Writetime.png" class="projimage"/> 
      <p class="projlink">Writeti.me</a></p>
    <ul>
      <li>
        Writeti.me is a SEAN stack app built to help establish good habits in writing daily through a clean UX experience that allows for daily personal posts.
      </li>
      <li>
        <i class="fa fa-code icon" aria-hidden="true"></i>
        Languages: JavaScript, HTML5, CSS3, AngularJS
      </li>
      <li>
        <i class="fa fa-cogs icon" aria-hidden="true"></i>
        Frameworks: Node.js, ExpressJS
      </li>
      <li>
        <i class="fa fa-database icon" aria-hidden="true"></i>
        Database Tools: SQL, PostgreSQL, Sequelize
      </li>
      <li>
        <i class="fa fa-lock icon" aria-hidden="true"></i>
        Other: Express-JWT, Bootstrap
      </li>
      <li>
        <i class="fa fa-lock icon" aria-hidden="true"></i>
        Role: Express-JWT, Bootstrap
      </li>
    </ul>
    <br>
    <div class="center">
      <a href="https://github.com/brytree/writetime" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
      <a href="https://writeti-me.herokuapp.com" class="btn btn-default"><i class="fa fa-laptop gitlink icon"></i> Demo</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
  </div>
</div>  

<!-- b e h i n d  t h e  u n i v e r s e -->
<div class="row center">
  <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
    <div class="project small-12 large-offset-1 large-10 large-offset-1 columns">
      <a href="http://brytree.github.io/behind-the-universe/">
      <img src="./assets/behindthe.png" 
        class="projimage"/>
        <p class="projlink">Behind The Universe</a></p>
        <ul>
          <li>
            This project was a weekend long front-end hackathon for my General Assembly WDI course where I learned Foundation and Skrollr in just two days.
          </li>
          <li>
            <i class="fa fa-code icon" aria-hidden="true"></i>
            Languages:JavaScript, HTML5, CSS3, JQuery
          </li>
          <li>
            <i class="fa fa-lock icon" aria-hidden="true"></i>
            Other: Skrollr, Foundation
          </li>
        </ul>
        <br>
        <div class="center">
          <a href="https://github.com/brytree/behind-the-universe" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
          <a href="http://brytree.github.io/behind-the-universe/" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Demo</a>
        </div>
    </div>
  </div>
</div>

<!-- T H E A R T R -->
<div class="row">
  <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
  </div>
</div>
<div class="row center">
  <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
    <div class="project small-12 large-offset-1 large-10 large-offset-1 columns">
      <a href="http://artr.herokuapp.com/">
      <img src="./assets/artrstatic.png" 
        class="projimage"/><p class="projlink">The Artr</a></p>

      <ul>
        <li>
          The Artr is an avant garde social media art creator that pulls images from Flickr and tweets from Twitter to create funny or throught provoking juxtapositions.
        </li>
        <li>
          <i class="fa fa-code icon" aria-hidden="true"></i>
          Languages: JavaScript, HTML5, CSS3
        </li>
        <li>
          <i class="fa fa-cogs icon" aria-hidden="true"></i>
          Frameworks Node.js, ExpressJS
        </li>
        <li>
          <i class="fa fa-database icon" aria-hidden="true"></i>
          Database Tools: SQL, PostgreSQL, Sequelize
        </li>
        <li>
          <i class="fa fa-lock icon" aria-hidden="true"></i>
          Other: Bcrypt, Bootstrap
        </li>
      </ul>
      <br>
      <div class="center">
        <a href="https://github.com/brytree/artr" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
        <a href="https://artr.herokuapp.com" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Demo</a>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>

<!-- s h a r k f i l e -->
<div class="row center">
  <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
    <div class="project small-12 large-offset-1 large-10 large-offset-1 columns">
      <img src="./assets/sharkfile.png" 
        class="projimage" />
        <p class="projlink">Sharkfile</p>
       <ul>
          <li>
             A project management web app built with a group of four people. I acted as Product Manager as our group implemented file upload, video chat, task features, and live chatting.
          </li>
          <li>
            <i class="fa fa-code icon" aria-hidden="true"></i>
            Languages: Ruby on Rails, Javascript, JQuery
          </li>
          <li>
            <i class="fa fa-lock icon" aria-hidden="true"></i>
            Other: WebRTC, PeerJS, Sketch, Bootstrap, AWS, Stripe
          </li>
        </ul>
        <br>
        <div class="center">
          <a href="https://github.com/brytree/shark-file" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
        </div>
    </div>
  </div>
</div>
