<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="projects">
      <p class="bigboy">portfolio</p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 project">
    <a href="/port">
      <img src="./assets/portmac.jpg" class="projimage"/>
    </a>
  </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 project">
    <a href="/twitbot">
      <img src="./assets/twitterbots.jpg" class="projimage"/> 
    </a>
  </div>


</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 project">
    <a href="/behind">
      <img src="./assets/behindmac.jpg" class="projimage"/> 
    </a>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 project">
    <a href="/writetime">
      <img src="./assets/writetimemac.jpg" class="projimage"/> 
    </a>
  </div>



</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5  col-lg-offset-1 project">
    <a href="/lucky">
      <img src="./assets/lucky.jpg" class="projimage"/> 
    </a>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5  col-lg-offset-1 project">
    <a href="/dirtymoonpress">
      <img src="./assets/dirtymac.jpg" class="projimage"/> 
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 project">

    <a href="/sharkfile">
      <img src="./assets/sharkmac.jpg" class="projimage"/> 
    </a>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 project">
    <a href="/artr">
      <img src="./assets/artmac.jpg" class="projimage"/> 
    </a>
  </div>


</div>