 <!-- S K I L L S -->
    <!-- each li slides in every 10px -->
    <section class="slide" id="skills">
      <div class="row">
        <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
          <div class ="skills">
            <p class="bigboy">skills</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
          <ul class="skill-list">
            <li        
              data-0="margin-left: -800px;" 
              data-150="margin-left: 0px;">
              <i class="fa fa-code icon" aria-hidden="true"></i>
              Languages: JavaScript, Ruby, HTML5, CSS3, JQuery
            </li>
            <li
              data-0="margin-left: -800px;" 
              data-175="margin-left: 0px;">
              <i class="fa fa-cogs icon" aria-hidden="true"></i>
              Frameworks: Node.js, ExpressJS, Rails, AngularJS
            </li>
            <li
              data-0="margin-left: -800px;" 
              data-200="margin-left: 0px;">
              <i class="fa fa-database icon" aria-hidden="true"></i>
              Database Tools: SQL, PostgreSQL, Sequelize, MongoDB
            </li>
            <li 
              data-0="margin-left: -800px;" 
              data-225="margin-left: 0px;">
              <i class="fa fa-lock icon" aria-hidden="true"></i>
              Other: Bcrypt, RSpec, Skrollr, Bootstrap, Foundation, TDD, Inkscape, Heroku
            </li>
            <!-- devicon broke -->
            <!-- <li class="floater"
              data-0="margin-left: -800px;" 
              data-250="margin-left: 0px;">
              <i class="devicon-git-plain"></i>
              <i class="devicon-github-original"></i>
              <i class="devicon-angularjs-plain"></i>
              <i class="devicon-bootstrap-plain"></i>
              <i class="devicon-css3-plain"></i>
              <i class="devicon-html5-plain"></i>
              <i class="devicon-heroku-original"></i>
              <i class="devicon-inkscape-plain"></i>
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-jquery-plain"></i>
              <i class="devicon-MongoDB-plain"></i>
              <i class="devicon-nodejs-plain"></i>
              <i class="devicon-postgresql-plain"></i>
              <i class="devicon-rails-plain"></i>
              <i class="devicon-ruby-plain"></i>
              <i class="devicon-trello-plain"></i>
            </li> -->
          </ul>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
          <hr>
        </div>
      </div>
    </section>
