<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="resume">
      <p class="bigboy">resume</p>
    </div>
  </div>
</div>



<div class="experience row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-sm-9 columns">
          <p class="bold">Full stack web developer at General Assembly, 2016</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 ">
          <p> 12 week full stack web development programming immersive with 480 hours of collaborative classroom instruction, 50-70 hours per week of technical coding work, and 4 web applications. Proficient in Javascript, HTML, CSS, Ruby on Rails, the SEAN stack, and AngularJS.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9 columns">
          <p class="bold">Bookseller at the Elliott Bay Book Company, 2015-2016</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <p> Maintained upkeep of the store’s 150,000 title inventory by daily shelving, register, and collaborative information desk duties using excellent communication skills to meet customer requirements. A staff recommendation was a bestseller for six months, selling over 100 units and connecting with clients’ tastes against competitive new releases. Led the donations team in giving over $3,000 worth of merchandise to more than 30 local charities over the course of three months.
            </ul>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9 columns">
          <p class="bold">Companion at Plymouth House of Healing, 2014-2015</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 ">
          <p> Engaged with residents living with mental illness to create community and foster their integration into society after a stay in the state’s largest public hospital. Maintained resident records and updated medical teams on status via email and in person communication.Assisted 12 individuals in re-entering their communities while staying flexible, consistent, and problem solving, and using leadership skills.</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-9 columns">
          <p class="bold">Reference Assistant at Bertrand Clark Library, 2013-2014</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 ">
          <p> Assisted patrons with physical and digital bibliographic searches using database research as well as media like newspaper archives and microfilm resources. Supervised a staff of student workers.</p>
        </div>
      </div>
  </div>
</div>


<div class ="row resumebuttons">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="center">
      <a target="_blank" href="/assets/Bortree2016.pdf" class="btn btn-green"><i class="fa fa-eye" id="id-eye"></i> View Resume</a>
     <a target="_blank" href="/assets/Bortree2016.pdf" class="btn btn-green" download="BortreeWebDev.pdf"><i class="fa fa-download" id="id-download"></i> Download Resume</a>
    </div>
  </div>
</div>



.pdf