<!-- S K I L L S -->
<!-- each li slides in every 10px -->
<section class="slide" id="skills">
  <div class="row">
    <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
      <div class ="skills">
        <p class="bigboy">skills</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
      <ul class="skill-list">
        <li>
          <i class="fa fa-code icon" aria-hidden="true"></i>
          Languages: JavaScript, Ruby, HTML5, CSS3, JQuery
        </li>
        <li
          data-0="margin-left: -800px;" 
          data-175="margin-left: 0px;">
          <i class="fa fa-cogs icon" aria-hidden="true"></i>
          Frameworks: Node.js, ExpressJS, Rails, AngularJS
        </li>
        <li>
          <i class="fa fa-database icon" aria-hidden="true"></i>
          Database Tools: SQL, PostgreSQL, Sequelize, MongoDB
        </li>
        <li>
          <i class="fa fa-lock icon" aria-hidden="true"></i>
          Other: Bcrypt, RSpec, Skrollr, Bootstrap, Foundation, TDD, Inkscape, Heroku
        </li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
      <hr>
    </div>
  </div>
</section>


<!--     E X P E R I E N C E   -->
<section class="slide" id="experience">
  <div class="experience row">
    <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
      <p class="bigboy">experience</p>
        <div class="row">
          <div class="small-9 columns">
            <p class="bold">Full stack web developer at General Assembly</p>
          </div>
          <div class="small-3 large-3 medium-3 columns float-right">
            <p class="bold">3/2016-present</p>
          </div>
        </div>
        <div class="row">
          <div class="small-9 large-9 columns">
            <p> A full-time 12-week web development program that concentrated on full stack web development. I’m proficient in JavaScript, Node.js, Express, PostgreSQL, Ruby, Ruby on Rails and I’ve worked in HTML, CSS, MongoDB, and AngularJS. </p>
          </div>
        </div>
        <div class="row">
          <div class="small-9 columns">
            <p class="bold">Bookseller at the Elliott Bay Book Company</p>
          </div>
          <div class="small-3 large-3 medium-3 columns float-right">
            <p class="bold">8/2015-3/2016</p>
          </div>
        </div>
        <div class="row">
          <div class="small-9 large-9 columns">
            <p> Helping with customer inquiries including bibliographic searching, recommending books. One of my personal staff recommendations  was a bestseller for five months in 2016.</p>
          </div>
        </div>
        <div class="row">
          <div class="small-9 columns">
            <p class="bold">Companion at Plymouth House of Healing</p>
          </div>
          <div class="small-3 large-3 medium-3 columns float-right">
            <p class="bold">8/2014-7/2015</p>
          </div>
        </div>
        <div class="row">
          <div class="small-9 large-9 columns">
            <p> Worked with residents living with mental illness and homelessness to create a community using empathy and active listening skills.</p>
          </div>
        </div>
        <div class="row">
          <div class="small-9 columns">
            <p class="bold">Bucknell University Reference Assistant at Bertrand Clark Library</p>
          </div>
          <div class="small-3 large-3 medium-3 columns float-right">
            <p class="bold">8/2013-6/2014</p>
          </div>
        </div>
        <div class="row">
          <div class="small-9 large-9 columns">
            <p>Connected students and community members to information using databases and research methods while  supervising a student staff.</p>
          </div>
        </div>
     
      <br>

      <div class="center">
        <a href="https://drive.google.com/file/d/0B0Rg_879_2OVeENkU2F4X3Z1ODA/view" class="button large round">PDF Resume</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
      <hr>
    </div>
  </div>
</section>