<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="writing">
      <p class="bigboy">writing</p>
    </div>
  </div>
</div>



<div class="experience row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="row">
      <div class="col-sm-9 columns">
        <p class="bold">Online Publications</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 ">
        <p><a href="http://plainchina.bennington.edu/pieces/ceelie/">Ceelie</a> at <a href="http://plainchina.bennington.edu" plain china</a></p>
        <p><a href="https://womeninourlives.wordpress.com/category/poetry/page/2/">winter</a> at <a href="https://womeninourlives.wordpress.com/">Women In Our Lives</a></p>
      </div>
    </div>
</div>


<div class="experience row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="row">
      <div class="col-sm-9 columns">
        <p class="bold">Chapbooks</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 ">
        <p>
          <a target="_blank" href="/assets/chapbooks/momentaryflash.pdf">
            <i class="fa fa-eye" id="id-eye">
              PDF
            </i> 
          </a>
          A Momentary Flash of Roger & Another Story| November 2012
        </p>
        <p>
          <a target="_blank" href="/assets/chapbooks/cartographies.pdf">
            <i class="fa fa-eye" id="id-eye">
              PDF
            </i> 
          </a>
          cartographies | May 2013
        </p>

         <p>
          <a target="_blank" href="/assets/chapbooks/godappears.pdf">
            <i class="fa fa-eye" id="id-eye">
              PDF
            </i> 
          </a>
<!--           <a target="_blank" href="/godappears">
            <i class="fa fa-laptop" id="id-eye">
              story view
            </i> 
          </a> -->
          God Appears Only to Disapprove | November 2012
        </p>

      </div>
    </div>
</div>