body{
  height:100% !important;
  width:100% !important; 
  background-color: #E6EAE9;
  overflow-x: hidden;

}

.bigboy {
  font-family: 'Raleway', sans-serif;
  font-size: 75px;
  font-weight: 200;
  color: dimgray;
  padding-bottom: 50px;
}

hr{
  color: #004000;
}

.emphatic{
  font-family: 'Raleway', serif;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 2px;
  padding: 15px;
}

p, li {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  line-height: 1.5em;
}

/*MENU*/

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 75px;
  text-align: center;
  margin-top: 20%;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

/*change height here to change li*/sp
.sidebar-nav > .sidebar-brand {
  height: 150px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

@media(min-width:768px) {
  #menu-toggle {
    display: none;
  }

  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.button {
  background-color: skyblue;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Josefin Sans', serif;
  font-weight: bold;
}

div.center {
  width: 100%;
  text-align: center;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.project {
  margin-top: 50px;
  margin-bottom: 50px; 
}

/*home*/

.logo{
  max-width: 100%;
  margin: 0 auto;
}

/*about*/

.talkbig {
  font-size: 25px;
}

/*resume */

#skills{
  /*background-image: url('../../assets/macbook.jpg');*/
  background-attachment: fixed;
  color: black;
}

.skill-list {
  line-height: 4em;
}

.skill-list li {
  vertical-align: middle;
}

i.fa {
  color: #979797;
}

.gitlink {
  font-size: 20px !important;
  color: #004000 !important;
}

.btn-default {
  color: #004000 !important;
  background-color: #d2d2d2;
}

#resumebtn {
  color: #004000 !important;
  background-color: #d2d2d2;
}

/*projects*/
.skyblue {
  background-color: skyblue;
}

a.button.round{
  color: white;
}

.projlink, .projlink a {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #004000;
}

.projlink a:hover {
  font-weight: 400;
  text-decoration: none;
}

.projimage {
  max-width: 100%;
}

/*resume*/

.resumebuttons {
  padding: 40px;
}

.bold {
  font-weight: bold;
}

.right {
  float: right;
}

/*contact*/

.center {
  text-align: center;
  margin: 0 auto;
}

#aboutpic {
  max-height: 300px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.contact-love{
  margin-top: 25px;
}

.contact-icons{
  letter-spacing: 20px;
}

.contacticon {
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
}

.contacticon::before {
  margin-top: 25px;
  margin-bottom: 25px;
}

.contacticon:hover {
  color: dimgrey;
}

a i { font-size: 18px; }

/*preventing flash of unstyled content*/

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }