<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="http://artr.herokuapp.com/">
      <img src="./assets/artr.jpg" 
      class="projimage"/>
      <p class="projlink">The Artr</p>
    </a>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <ul>
      <li>
        The Artr is an avant garde social media art creator that pulls images from Flickr and tweets from Twitter to create funny or throught provoking juxtapositions.
      </li>
      <li>
        <i class="fa fa-code icon" aria-hidden="true"></i>
        Languages: JavaScript, HTML5, CSS3
      </li>
      <li>
        <i class="fa fa-cogs icon" aria-hidden="true"></i>
        Frameworks Node.js, ExpressJS
      </li>
      <li>
        <i class="fa fa-database icon" aria-hidden="true"></i>
        Database Tools: SQL, PostgreSQL, Sequelize
      </li>
      <li>
        <i class="fa fa-lock icon" aria-hidden="true"></i>
        Other: Bcrypt, Bootstrap
      </li>
    </ul>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">  
    <a href="https://github.com/brytree/artr" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
    <a href="https://artr.herokuapp.com" class="btn btn-default"><i class="fa fa-laptop icon gitlink"></i> Demo</a>
  </div>
</div>