<div class="row">
  <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
  </div>
</div>
<div class="row center">
  <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
    <div class="project small-12 large-offset-1 large-10 large-offset-1 columns">
      <a href="http://artr.herokuapp.com/">
      <img src="./assets/artr.jpg" 
        class="projimage"/><p class="projlink">The Artr</a></p>

      <ul>
        <li>
          The Artr is an avant garde social media art creator that pulls images from Flickr and tweets from Twitter to create funny or throught provoking juxtapositions.
        </li>
        <li>
          <i class="fa fa-code icon" aria-hidden="true"></i>
          Languages: JavaScript, HTML5, CSS3
        </li>
        <li>
          <i class="fa fa-cogs icon" aria-hidden="true"></i>
          Frameworks Node.js, ExpressJS
        </li>
        <li>
          <i class="fa fa-database icon" aria-hidden="true"></i>
          Database Tools: SQL, PostgreSQL, Sequelize
        </li>
        <li>
          <i class="fa fa-lock icon" aria-hidden="true"></i>
          Other: Bcrypt, Bootstrap
        </li>
      </ul>
      <br>
      <div class="center">
        <a href="https://github.com/brytree/artr" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
        <a href="https://artr.herokuapp.com" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Demo</a>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>