<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="projects">
      <p class="bigboy">behind the universe</p>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="http://brytree.github.io/behind-the-universe/">
      <img src="./assets/behindthe.jpg" 
      class="projimage"/>
    </a>
  </div>
</div>  

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <ul>
      <li class="padded">
        I'm proud of this project because it shows fast learning and diving in immediately to a new project. This site was part of a was a weekend long front-end hackathon for my General Assembly WDI course where I learned Foundation (a front end tool much like Bootstrap) and Skrollr (fun scrolling effects) in just two days. 
      </li>
      <li class="padded">
        <i class="fa fa-code icon" aria-hidden="true"></i>
        Languages: JavaScript, HTML5, CSS3, JQuery
      </li>
      <li class="padded">
        <i class="fa fa-lock icon" aria-hidden="true"></i>
        Front End Tools: Skrollr, Foundation
      </li>
    </ul>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="https://github.com/brytree/behind-the-universe" class="btn btn-lg btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
    <a href="http://brytree.github.io/behind-the-universe/" class="btn btn-lg btn-default"><i class="fa fa-laptop icon gitlink"></i> Demo</a>
  </div>
</div>
