<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="projects">
      <p class="bigboy">dirty moon press</p>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <a href="http://www.dirtymoonpress.com">
        <img src="./assets/dirtymac.jpg" 
        class="projimage" />
      </a>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <ul>
      <li class="padded">
        Dirty Moon Press is a template website for small presses, built in response to many Squarespace websites with built-in functionality that could be more catered to the individual press. I saw this as a chance to learn Angular Material, Google's front-end framework for creating Single Page Applications with Angular.
      </li>
      <li class="padded">
        <i class="fa fa-code icon" aria-hidden="true"></i>
        Languages: Javascript, JQuery
      </li>
      <li class="padded">
        <i class="fa fa-cube icon" aria-hidden="true"></i>
        Frameworks: Angular, Material
      </li>
      <li class="padded">
        <i class="fa fa-credit-card icon" aria-hidden="true"></i>
        Other: AWS, Stripe
      </li>
    </ul>
  </div>
</div>
  
<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="https://github.com/brytree/shark-file" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
    <a href="http://www.dirtymoonpress" class="btn btn-default"><i class="fa fa-laptop icon gitlink"></i> Demo</a>
  </div>
</div>

<!-- <div class="row">
  <a href="https://brycebortree.com/port" class="btn btn-default"><i class="fa fa-arrow-left icon gitlink"></i>  Portfolio</a>
</div> -->