<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="projects">
      <p class="bigboy">lucky</p>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <img src="./assets/lucky.jpg" 
        class="projimage" />
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <ul>
      <li class="padded">
         A modern one page restaurant app JavaScript, jQuery, HTML5, and SASS, along with Google Maps API integration. Currently focused on mobile display.
      </li>
      <li class="padded">
        <i class="fa fa-code icon" aria-hidden="true"></i>
        Languages: Javascript, HTML, SCSS
      </li>
      <li class="padded">
        <i class="fa fa-cube icon" aria-hidden="true"></i>
        Framework: Bootstrap
      </li>
      <li class="padded">
        <i class="fa fa-search icon" aria-hidden="true"></i>
        APIs: Google Maps
      </li>
    </ul>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="https://github.com/brytree/onepagelucky" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
    <a href="http://theluckydiner.com.s3-website-us-west-2.amazonaws.com/" class="btn btn-default"><i class="fa fa-laptop icon gitlink"></i> Demo</a>
  </div> 
</div>