<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="projects">
      <p class="bigboy">portfolio</p>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <img src="./assets/portmac.jpg" 
        class="projimage" />
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <ul>
      <li class="padded">
        This portfolio, designed to show off my clean front-end coding skills. I used Angular and Bootstrap to build a toggle side menu bar, and have built the page to be a Single Page Application (SPA).
      </li>
      <li class="padded">
        <i class="fa fa-code icon" aria-hidden="true"></i>
        Languages: Javascript, HTML, CSS
      </li>
      <li class="padded">
        <i class="fa fa-cube icon" aria-hidden="true"></i>
        Framework: Angular, Bootstrap
      </li>
    </ul>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="https://github.com/brytree/shark-file" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
    <a href="http://brycebortree.com" class="btn btn-default"><i class="fa fa-laptop icon gitlink"></i> Demo</a>
  </div> 
</div>