<div class="row center">
  <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
    <div class="project small-12 large-offset-1 large-10 large-offset-1 columns">
      <img src="./assets/sharkfile.png" 
        class="projimage" />
        <p class="projlink">Sharkfile</p>
       <ul>
          <li>
             A project management web app built with a group of four people. I acted as Product Manager as our group implemented file upload, video chat, task features, and live chatting.
          </li>
          <li>
            <i class="fa fa-code icon" aria-hidden="true"></i>
            Languages: Ruby on Rails, Javascript, JQuery
          </li>
          <li>
            <i class="fa fa-lock icon" aria-hidden="true"></i>
            Other: WebRTC, PeerJS, Sketch, Bootstrap, AWS, Stripe
          </li>
        </ul>
        <br>
        <div class="center">
          <a href="https://github.com/brytree/shark-file" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
        </div>
    </div>
  </div>
</div>