<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="projects">
      <p class="bigboy">twitter bots</p>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="http://twitter.com/gfoustbot">
      <img src="./assets/twitterbots.jpg" 
      class="projimage"/>
    </a>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <ul>
      <li class="padded">
        The Artr is an avant garde social media art creator that pulls images from Flickr and tweets from Twitter to create funny or throught provoking juxtapositions.
      </li>
      <li class="padded">
        <i class="fa fa-code icon" aria-hidden="true"></i>
        Languages: JavaScript, Ruby
      </li>
      <li class="padded">
        <i class="fa fa-database icon" aria-hidden="true"></i>
        APIs: Twitter, Wordnik
      </li>
    </ul>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">  
    <a href="https://github.com/brytree/gfoustbot" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> GFoustBot </a>
    <a href="https://github.com/brytree/itoolovebot" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> ITooLoveBot</a>    
    <a href="https://github.com/brytree/spaceloversbot" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> SpaceLoversBot</a>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">  
    <a href="http://twitter.com/gfoustbot" class="btn btn-default"><i class="fa fa-laptop icon gitlink"></i> GFoustBot</a>
    <a href="http://twitter.com/ITooLoveBot" class="btn btn-default"><i class="fa fa-laptop icon gitlink"></i> ITooLoveBot</a>
    <a href="http://twitter.com/spaceloversbot" class="btn btn-default"><i class="fa fa-laptop icon gitlink"></i> SpaceLoversBot</a>
  </div>
</div>