<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="projects">
      <p class="bigboy">twitter bots</p>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="http://twitter.com/gfoustbot">
      <img src="./assets/twitterbots.jpg" 
      class="projimage"/>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <ul>
      <li class="padded">
        Who doesn't have a Twitter bot these days, endlessly shouting into the void? I love the interactivity of Twitter bots with human users, and when teaching myself Python my first personal project was the create a simple esoteric name bot (currently serverless). 
        <br>
        <br>
        I've built three active Twitter bots that use the Twitter API and then post specific content. All three are hosted on Heroku and incorporate cron jobs to keep their feeds fresh.
        <br>
        <br>
        <p> • SpaceLoversBot (pictured on the tablet above) is the most popular bot. It's a Ruby bot and retweets people saying "I love space." (Everyone loves space movies.)</p>
        <p> • ITooLoveBot finds people saying "I love" and an adjective and a noun, then tweets, "I too love [adjective] [noun], user." It started out @-ing that user, but that quickly seemed spammy.</p>
        <p> • GFoustBot riffs on the poem "And the ghosts they own everything" by Graham Foust. It started out using the Wordnik API for random words, but I've recently rebooted it to use a simple array of verbs and nouns. </p>
      </li>
      <li class="padded">
        <i class="fa fa-code icon" aria-hidden="true"></i>
        Languages: JavaScript, Ruby
      </li>
      <li class="padded">
        <i class="fa fa-database icon" aria-hidden="true"></i>
        APIs: Twitter, Wordnik
      </li>
    </ul>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">  
    <a href="https://github.com/brytree/gfoustbot" class="btn btn-lg btn-default"><i class="fa fa-github icon gitlink"></i> GFoustBot </a>
    <a href="https://github.com/brytree/itoolovebot" class="btn btn-lg btn-default"><i class="fa fa-github icon gitlink"></i> ITooLoveBot</a>    
    <a href="https://github.com/brytree/spaceloversbot" class="btn btn-lg btn-default"><i class="fa fa-github icon gitlink"></i> SpaceLoversBot</a>
  </div>
</div>

<div class="row center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">  
    <a href="http://twitter.com/gfoustbot" class="btn btn-lg  btn-default"><i class="fa fa-laptop icon gitlink"></i>GFoustBot</a>
    <a href="http://twitter.com/ITooLoveBot" class="btn btn-lg btn-default"><i class="fa fa-laptop icon gitlink"></i> ITooLoveBot</a>
    <a href="http://twitter.com/spaceloversbot" class="btn btn-lg btn-default"><i class="fa fa-laptop icon gitlink"></i> SpaceLoversBot</a>
  </div>
</div>