
<div class="row center" id="writetime">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="http://writeti-me.herokuapp.com/">
    <img src="./assets/Writetime.jpg" class="projimage"/> 
      <p class="projlink">Writeti.me</a></p>
    <ul>
      <li>
        Writeti.me is a SEAN stack app built to help establish good habits in writing daily through a clean UX experience that allows for daily personal posts.
      </li>
      <li>
        <i class="fa fa-code icon" aria-hidden="true"></i>
        Languages: JavaScript, HTML5, CSS3, AngularJS
      </li>
      <li>
        <i class="fa fa-cogs icon" aria-hidden="true"></i>
        Frameworks: Node.js, ExpressJS
      </li>
      <li>
        <i class="fa fa-database icon" aria-hidden="true"></i>
        Database Tools: SQL, PostgreSQL, Sequelize
      </li>
      <li>
        <i class="fa fa-lock icon" aria-hidden="true"></i>
        Other: Express-JWT, Bootstrap
      </li>
      <li>
        <i class="fa fa-lock icon" aria-hidden="true"></i>
        Role: Express-JWT, Bootstrap
      </li>
    </ul>
    <br>
    <div class="center">
      <a href="https://github.com/brytree/writetime" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
      <a href="https://writeti-me.herokuapp.com" class="btn btn-default"><i class="fa fa-laptop gitlink icon"></i> Demo</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-offset-1 large-10 large-offset-1 columns">
  </div>
</div>  