<div class ="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="projects">
      <p class="bigboy">writetime</p>
    </div>
  </div>
</div>

<div class="row center" id="writetime">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="http://writeti-me.herokuapp.com/">
      <img src="./assets/Writetime.jpg" class="projimage"/>
    </a>
  </div>
</div>

<div class="row center" id="writetime">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <ul>
      <li class="padded">
        Writeti.me is a SEAN stack app built to help establish good habits in writing daily through a clean UX experience that allows for daily personal posts.
      </li>
      <li class="padded">
        <i class="fa fa-code icon" aria-hidden="true"></i>
        Languages: JavaScript, HTML5, CSS3, AngularJS
      </li>
      <li class="padded">
        <i class="fa fa-cube icon" aria-hidden="true"></i>
        Frameworks: Bootstrap
      </li>
      <li class="padded">
        <i class="fa fa-server icon" aria-hidden="true"></i>
        Server Tools: Node.js, ExpressJS
      </li>
      <li class="padded">
        <i class="fa fa-database icon" aria-hidden="true"></i>
        Database Tools: SQL, PostgreSQL, Sequelize
      </li>
      <li class="padded">
        <i class="fa fa-lock icon" aria-hidden="true"></i>
        Other: Express-JWT
      </li>
    </ul>
  </div>
</div>


<div class="row center" id="writetime">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <a href="https://github.com/brytree/writetime" class="btn btn-default"><i class="fa fa-github icon gitlink"></i> Github</a>
    <a href="https://writeti-me.herokuapp.com" class="btn btn-default"><i class="fa fa-laptop gitlink icon"></i> Demo</a>
  </div>
</div>
